// Icon
link(rel="shortcut icon", href="favicon.jpg" type="image/x-icon")
// CSS Plugins
link(rel="stylesheet", href="css/vendors/vendors.min.css")
// Main CSS
link(rel="stylesheet", href="css/main.min.css")