footer
    .container
        .row.info
            .col-sm-6
                .social
                    ul.list-unstyled
                        li
                            a(href="#" class="btn-fb")
                                i(class="fa fa-facebook" aria-hidden="true")
                        li
                            a(href="#" class="btn-in")
                                i(class="fa fa-instagram" aria-hidden="true")
                        li
                            a(href="#" class="btn-lc")
                                i(class="fa fa-map-marker" aria-hidden="true")
            .col-sm-6
                p.copyright
                    span.text-white Designed with 
                        i(class="fa fa-heart" aria-hidden="true") 
                        |  by 
                    a(href="https://www.linkedin.com/in/mohammad-radwan-699b46162/" target="_blank")
                        strong Mohammad Radwan
                    |  @ 2019.